extends layout

block content
  script(type='text/javascript').
    var trials = !{JSON.stringify(trials)}

  h1. Trials
  div#trials
    each trial in trials
      | #{trial.username} on #{trial.datetime}: 
      a(href='/trials_nonmed/#{trial._id}'). View Non-med/
      a(href='/trials_med/#{trial._id}'). View Med
      br
