extends layout

block content
  script(src='//code.highcharts.com/highcharts.js')
  script(src='//code.highcharts.com/modules/exporting.js')
  script(src='/socket.io/socket.io.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/d3/3.4.11/d3.min.js', charset='utf-8')
  link(href='/stylesheets/status.css', rel='stylesheet')
  link(href='/stylesheets/metricsgraphics.css', rel='stylesheet')
  link(href='/stylesheets/highlightjs-default.css', rel='stylesheet')
  script(type='text/javascript').
      var compressions = !{JSON.stringify(trial.points)};
      var trial_time = !{JSON.stringify(trial.length)};
      var final_stats = !{JSON.stringify(trial.final_stats)};
      var stats = !{JSON.stringify(trial.stats)};
      var link_text = "<a href='/csv/" + !{JSON.stringify(trial._id)} + "'>CSV</a>";
  div#status
    h1#title Status
    | Time: 
    div#time
    br
    | Capno:
    div#capno
    br
    | Rate: 
    div#rate.good
    br
    | Depth: 
    div#depth.good
    br
  div#download_link
  div#compressions
  div#capnography
  div#container(style='min-width: 300px; height: 400px; margin: 0 auto')
  script(src='/javascripts/metricsgraphics.min.js')
  script(src='/javascripts/lib/highlight.pack.js')
  script(src='/javascripts/trial.js', type='text/javascript')
